<!--<div class="container">

  <div class="row">
    <div class="form-group col-12">
      <label for="lembreteInputText">Lembrete</label>
      <input type="text" id="lembreInputText" placeholder="Digite seu lembrete" class="form-control"
        [(ngModel)]="lembrete" appSombra="10px 10px">
    </div>
  </div>

  <div appSombra sombraEntrada="10px 10px #FF0000" class="row">
    <div class="col-12">
      <button type="button" appSombra="10px 10px" class="btn btn-primary btn-block" (click)="salvar()">Salvar</button>
    </div>
  </div>

  <div class="row">
    <button type="button" class="btn btn-primary btn-block mt-3">Aplicar
      sombra</button>
  </div>

  <div class="row">
    <button type="button" class="btn btn-primary btn-block mt-3">Remover
      Sombra</button>
  </div>

  <div class="row">

    <div class="col-12">
      <table class="table table-striped table-hover mt-3">
        <thead>
          <tr>
            <th class="text-center">Lembretes</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lembrete of lembretes">
            <td class="text-center">{{lembrete}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
-->
<app-teste-pipes></app-teste-pipes>